<div class="newsletter">
    <div class="inner">
        <div class="newsletterClose"><i class="fa fa-times"></i></div>

        <h2>Inscription à notre<br>newsletter</h2>
        {{ form_start(form, {'action': path('client_newsletter_ajout'), 'attr': {novalidate: 'novalidate', 'id': 'newsletterForm'}}) }}

            {{ form_errors(form) }}

            {{ form_label(form.email, "Email *") }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-elem'}}) }}

            <br>

            {{ form_widget(form.Enregistrer, { 'label': 'Je m\'inscris' }) }}

            {{ form_rest(form) }}

        {{ form_end(form) }}
    </div>
</div>
