<div class="newsletter">
    <div class="inner">
        <div class="newsletterClose"><i class="fa fa-times"></i></div>

        <h2>{{ 'newsletter.client.bloctitre'|trans|raw }}</h2>

        {{ form_start(form, {'action': path('client_newsletter_ajout'), 'attr': {novalidate: 'novalidate', 'id': 'newsletterForm'}}) }}

            {{ form_errors(form) }}

            {{ form_label(form.email, 'newsletter.client.bloclabel.email'|trans) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-elem'}}) }}

            {{ form_widget(form.langue, {'value': app.request.locale}) }}

            <br>

            {{ form_widget(form.Enregistrer, { 'label': 'newsletter.client.bloclabel.submit'|trans }) }}

            {{ form_rest(form) }}

        {{ form_end(form) }}
    </div>

    <svg class="newsletterWave" width="100%" height="100%" viewBox="0 0 1920 250" version="1.1" preserveAspectRatio="none">
        <path
            d="M 0 0 Q 438.727 49.97 437.879 50.879 C 435.2 53.749 963.424 124.606 961.424 124.606 C 959.424 124.606 1482.596 195.253 1485.424 192.424 Q 1487.424 190.424 1918 254.545 L 1918 -21 L 0 -21 L 0 0 Z"
            data-to="M 0 250 Q 313.5 250.5 448 250.5 C 619.292 250.5 926.606 250 958 250 C 989.394 250 1338.5 250 1473 250 Q 1618.774 250 1920 250 L 1920 0 L 0 0 L 0 250 Z"/>
    </svg>

</div>
