<!doctype html>
<html lang="fr">

<head>
	<title>{% block metaTitle %}{% endblock %}</title>
	<meta name="description" content="{% block metaDescription %}{% endblock %}">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; height=device-height; initial-scale=1; minimum-scale=1; maximum-scale=1">

    {% block openGraph %}{% endblock %}

	<link rel="icon" type="image/png" href="{{ asset('img/layout/favicon.png') }}">
	<link href="{{ asset('css/client/app.css')}}" rel="stylesheet" type="text/css">

	{% block css %}{% endblock %}
</head>

<body>

    <!-- Inscription à la newsletter -->
    {{ render(controller('UserBundle:User:ClientNewsletterBloc')) }}

	<main class="main">

        <!-- Le header -->
        {{ include("GlobalBundle:Client/Include:header.html.twig") }}

        <!-- Le menu -->
        {{ render(controller('PageBundle:Menu:managerClient')) }}

        <!-- Contenu principal du site -->
        <div class="content">
            <div class="inner">

                <!-- Breadcrumb au dessus du contenu -->
                {% block breadcrumb %}
                {% endblock %}

                <!-- Affichage des messages en session -->
                {{ include("GlobalBundle:Client/Include:flashbag.html.twig") }}

                {% block content %}
                {% endblock %}

                <div class="clear"></div>

            </div>
        </div>

        <!-- Le footer -->
        {{ include("GlobalBundle:Client/Include:footer.html.twig") }}

        <!-- Le pied de page -->
        {{ include("GlobalBundle:Client/Include:bas.html.twig") }}

	</main>
	
	<!-- Librairies javascript -->
	{% if app.environment == 'prod' %}
		<script type="text/javascript" src="{{ asset('js/client/app_min.js')}}"></script>
	{% else %}
		<script type="text/javascript" src="{{ asset('js/jquery/jquery.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/superfish/superfish.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/owl/owl.carousel.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/lightbox/lightbox.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/select2/select2.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/client/app.js')}}"></script>
	{% endif %}
    {% block script %}{% endblock %}

</body>
</html>
