{% extends "GlobalBundle:Client/Layout:layout.html.twig" %}

{% block metaTitle %}Connexion{% endblock %}

{% block contentitle %}
    <h1>Connexion</h1>
{% endblock %}

{% block content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <label for="username">Email *</label>
        <input type="text" class="form-elem big" name="_username" value="{{ last_username }}">

        <label for="password">Mot de passe *</label>
        <input type="password" class="form-elem big" name="_password">

        <input type="hidden" name="_target_path" value="admin_page_index">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <br>

        <button type="submit">Se connecter</button>
    </form>

    <br><p>
        Vous n'avez pas de compte ? <a href="{{ path('register') }}">Inscrivez vous</a><br>
        Vous avez oublié votre mot de passe ? <a href="{{ path('reinitialisation') }}">Réinitialisation</a>
    </p>
{% endblock %}