{% extends "GlobalBundle:Client/Layout:layout.html.twig" %}

{% block metaTitle %}Réinitialisation de mot de passe{% endblock %}

{% block breadcrumb %}
    <div id="breadcrumb">
        {{ include("GlobalBundle:Client/Include:breadcrumb.html.twig", {'breadcrumb':breadcrumb }) }}
    </div>
{% endblock %}

{% block content %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal', novalidate: 'novalidate'}}) }}

        {{ form_errors(form) }}

            {{ form_errors(form.password) }}
            {{ form_widget(form.password) }}

            {{ form_widget(form.Enregistrer, { 'label': 'Réinitialiser' }) }}

        {{ form_rest(form) }}

    {{ form_end(form) }}

{% endblock %}