<div class="partage">
    <button class="twitter" data-titre="{{ titre }}" data-url="{{ app.request.schemeAndHttpHost ~ url }}">
        <i class="fa fa-twitter"></i> Partager sur twitter
    </button>

    <button class="facebook" data-titre="{{ titre }}" data-url="{{app.request.schemeAndHttpHost ~ url }}">
        <i class="fa fa-facebook"></i> Partager sur facebook
    </button>

    <button class="linkedin" data-titre="{{ titre }}" data-url="{{ app.request.schemeAndHttpHost ~ url }}">
        <i class="fa fa-linkedin"></i> Partager sur linkedin
    </button>
</div>